.body-class {
    background-color: #003a68;
    height: 100vh;
}
            
.content {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.form-container {
    background-color: #fff;
}

.position-ref {
    position: relative;
}

.full-height {
    height: 100vh;
}

.logo-start-page {
    height: 60px;
    text-align: center;
}

.logo {
    text-align: center;
}

.slogan {
    text-align: center;
    color: #fff;
    font-size: 70%;
}

.block {
    color: #000;
}
.btn-ol-login {
    background-color: #0080ca;
    color: #fff;
}

.btn-ol-ss {
    background-color: #0080ca;
    color: #fff;
}
.label-remember {
    color: #0080ca;
    font-size: 75%;
    text-align: right;
    position: absolute;
    top: 50%;
    transform: translateY(25%);
}

.noactive-header-label {
    color: #0080ca;
    font-size: 130%;
    font-weight: 400;
    margin-top:10px;
}

.active-header-label {
    font-size: 130%;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-top:10px;
}

.mycontent-left {
    border-right: 1px solid #d3d3d3;
    margin-top:10px;
}


.label-email {
    text-align: left;
    font-size: 80%;
}

label {
    z-index: 2000;
}

.label-ss {
    text-align: left;
    font-size: 80%;
}

.help-block {
    text-align: left;
    font-size: 70%;
    color: #f00;
}

.error-block {
    text-align: left;
    font-size: 70%;
    color: #f00;
}

a.btn.btn-xs.btn-ol-cancel {
    background-color: #fff;
    color: #0080ca !important;
    border: 1px solid #0080ca !important;
}

.btn-ol-cancel {
    background-color: #fff;
    color: #0080ca !important;
    border: 1px solid #0080ca !important;
}

.profile-content {
    background-color: #fff;
    padding: -50px;
}

.main-row {
    height: 100%;
}

.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  position: fixed;
  background-color: #1a1a1a;
  top: 0px;
  height: 100%;
  width: 215px;
  color: #e1ffff;
}
.nav-side-menu .version {
    color: #919191;
}
.nav-side-menu .brand {
  background-color: #1a1a1a;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #0165a3;
  background-color: #272727;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #1a1a1a;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
  padding-left: 20px;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}

.version {
    font-size: 70%;
    padding-bottom: 30px;
    text-align: center;
}

.right-link {
    color: #000;
}
.top-menu-hr {
    margin-top: 0px;
}
.profile-row {
    margin-top: 50px;
}

.profile-full-name {
    font-size: 170%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.profile_table {
    border-spacing: 7px;
    border-collapse:separate;
}

.profile_about {
    padding: 7px;
    width: 70%;
}

.profile_cell_name {
    color: #a8a8a8;
}

a.btn.btn-xs.btn-ol-edit {
    font-size: 70%;
    background-color: #fff;
    color: #0080ca !important;
    border: 1px solid #0080ca !important;
    padding: 8px;
    text-transform: none;
    letter-spacing: normal;
}


.edit_profile_input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #e3e3e3;
    width: 100%;
    height: 35px;
    font-size: 16px;
}

.picker-icon {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #e3e3e3;
    height: 25px;
    font-size: 16px;
}

.edit_profile_input_textarea {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #e3e3e3;
    width: 100%;
    height: 100px;
    font-size: 16px;
}
.edit_profile_input_short {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #e3e3e3;
    width: 50%;
    font-size: 16px;
    height: 35px;
}
.b-select-wrap {
    height: 35px;
    color: #616263;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    border-bottom: 1px solid #e3e3e3;
}

.b-select-wrap:after {
    content: "▼";
    padding: 12px 8px;
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;    
}

.b-select {
    height: 35px;
    width: 100%;
    padding: 0px 0px;
    background-color: #fff;
    border: 0;
    outline: none;
    font-size: 16px;
    -webkit-appearance: none; /* for webkit browsers */
    -moz-appearance: none; /* for firefox */
    appearance: none; /* for modern browsers */
}

/* remove default caret for ie */
.b-select::-ms-expand {
   display:none;
}

.mymarkers-row {
    margin-top: 10px;
    margin-left: 30px;
    padding-left: 30px;
}

