.body-class {
    background-color: #003a68;
    height: 100vh;
}
            
.content {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.full-height {
    height: 100vh;
}

.logo-start-page {
    height: 60px;
    text-align: center;
}

.logo {
    text-align: center;
}

.slogan {
    text-align: center;
    color: #fff;
    font-size: 70%;
}
